
__pycache__/
*.py[cod]
*$py.class


.venv/
env/
venv/
.conda/


data/*
!data/.gitkeep
results/
outputs/
competition_Test_ME004
checkpoints/
*.h5
*.log
*.zip


thirdparty/*
!thirdparty/README.md



.vscode/
.idea/
.DS_Store


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
tartanairpy/*
